---
layout: default
title: Home
---

<h2>Recent Transmissions</h2>
<hr/>

{% for post in paginator.posts %}
  {% unless post.category == 'catalog' %}
    <small>{{ post.date | date_to_string }}</small>
    <h3 class="recent"><strong><a href="{{ post.url }}" {% if post.description %}title="{{ post.description }}"{% elsif post.category == 'radio' %}title="Track list with album covers for a last.fm station played by DR3WH0."{% elsif post.category == 'photo' %}title="A photograph by DR3WH0."{% else %}title="A blog post by DR3WH0."{% endif %}>{{ post.title }}</a></strong></h3>
  {% endunless %}
{% endfor %}

<hr/>
{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">Previous </a>
{% else %}
  <span>Previous </span>
{% endif %}
<span>( {{ paginator.page }} of {{ paginator.total_pages }} )</span>
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}"> Next</a>
{% else %}
  <span> Next</span>
{% endif %}
