---
layout: default
title: Home
---

<h2>Recent Thoughts</h2>
<hr/>

{% assign counter = '.' %}
{% for post in site.posts %}
  {% if post.category != 'radio' && counter.size <= 8 %}
    {% capture counter %} {{ counter | append:'.' }} {% endcapture %}
    <small>{{ post.date | date_to_string }}</small>
    <h2 class="recent"><a href="{{ post.url }}" {% if post.description %} title="{{ post.description }}" {% endif %}>{{ post.title }}</a></h2>
  {% endif %}
{% endfor %}

<!--
<footer>
  <h4><a href="/about.html" title="Time Machine License Plate">ABOUT</a>  <blink>|</blink>  <a href="/archive.html" title="Thought Archive">MORE THOUGHTS &gt;&gt;&gt;</a></h4>
</footer>
-->
