<head>
  <meta http-equiv="Content-Type" content="Type=text/html; charset=utf-8" />
  <meta name="author" content="DR3WH0">
  <!--{% if page.tags %}<meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %}">{% endif %}
  {% else %}<meta name="keywords" content="Prose, Poetry, Photos, Music">{% endif %}-->
  <title>DR3WH0 {% if page.title %} | {{ page.title }} {% endif %}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen" charset="utf-8"/>
  <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/u/8239797/DR3WH0_favicon.png"/>
  <script src="/javascripts/scale.fix.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  <!-- RDFa Dublin Core Metadata
  <meta property="dc:creator" content="DR3WH0" />
  <meta property="dc:title" content="DR3WH0 {% if page.title %} | {{ page.title }} {% endif %}" />
  <meta property="dc:type" content="Blog" />
  <meta property="dc:format" content="text/html" />
  <meta property="dc:language" content="en" />-->
  <!--{% if page.tags %}
    {% for tag in page.tags %}<meta property="dc:subject" content="{{ tag }}">{% endfor %}
  {% endif %}-->
</head>
