---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include scm.html %}
    <div class="wrapper">
      {% include header.html %}
      <section id="main">
        {{ content }}
      </section>
      {% include footer.html %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/liquidescape.js"></script>
    <script type="text/javascript" src="/javascripts/analytics.js"></script>
  </body>
</html>
