---
layout: default
---

<article typeof="BlogPosting" resource="{{ site.url }}{{ page.url }}#schema">
  <h2 property="name">{{page.title}}</h2>
  <hr/>

  {% if page.description %}
    {% unless page.tags contains "haiku" %}
      <ul><p class="view">{{ page.description }}</p></ul>
      <hr/>
    {% endunless %}
  {% endif %}

  <span property="articleBody">
    {% if page.category == 'photo' %}<span typeof="Photograph" resource="{{ site.url }}{{ page.url }}#schema"><span property="genre" content="black-and-white photographs">{{content}}</span></span>
    {% else %}{{content}}{% endif %}
  </span>
</article>

<!--<p style="text-align:right"><small><a href="/guestbook.html"><b>COMMENTS >>></b></a></small></p>-->
<hr/>

{% include JB/setup %}
<ul class="tag_box inline">
  {% assign tags_list = page.tags %}  
  {% include JB/tags_list %}
</ul>

<p style="text-align:right" resource="{{ site.url }}{{ page.url }}#author"><span property="http://purl.org/dc/terms/created" content="{{ page.date | date: "%Y-%m-%d" }}" resource="{{ site.url }}{{ page.url }}#dc">{{ page.date | date: "%A, %B %e, %Y" }}</span>  <a property="http://creativecommons.org/ns#license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="tab"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br /><small>This post is licensed under a <a property="http://creativecommons.org/ns#license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="tab">Creative Commons Attribution 3.0 Unported License</a>.</small></p>

